[core]
	autocrlf = false
	preloadindex = true
	fscache = true
[push]
	default = current
[user]
    
	email = tomas.aliaga@gmail.com
    
	name = Tomas Aliaga
[core]
    
	editor = gedit

[alias]
    
	st = status
    
	ci = commit
    
	br = branch
    
	co = checkout
    
	fe = fetch --prune
    
	df = diff

