[core]
    autocrlf = false
    preloadindex = true
    fscache = true
[push]
    default = current
[user]
    name = Tomas Aliaga
    email = tomas.aliaga@gmail.com
[core]
    editor = gedit
[alias]
    st = status  
    ci = commit
    br = branch
    co = checkout
    fe = fetch --prune
    df = diff

